.formtable {
	padding: 10px;
	border: 1px solid blue;
}

input[type=text] {
	width: 250px;
	padding-left: 10px;
}

textarea {
	width: 250px;
	heigth: 300px;
	padding-left: 10px;
}

.label {
	text-align: right;
	vertical-align: top;
}

.error {
	font-size: small;
	color: red;
	margin-left: 10px;
}

.offers {
	padding: 10px;
	border: 1px solid gray;
}

.control {
	
}